ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.current a, li a:hover, li a:active, li a:focus {
    background-color: #111;
    color:red;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    margin: 1em 0;
    color: white;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0.5em 0;
    color: white;
  }